
.titulocontacto {
  color: $color2;
}

.rrsscontacto {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.rs{
   a {
  text-decoration: none;
  color: $color2;
  font-size: larger;
  }
}

.formulario{
  background-color: $color2;
  color: $color1;
  border-radius: 25px;
  margin:10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
}
.map{
  margin:20px 10px 20px 10px ;
}

.form-control{
  background-color: $color1_1 !important;
  color: $color2;
  }

  .btn_form{
    background-color: $color1 !important;
    color: $color2;
  }