.footer{
  padding-bottom: 5px;
  color: $color2;
}


.ul-footer{
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.navegacion{
  ul li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color:$color2;
  }
}

.RRSS__titulo{
  text-align: center;
}

// .RRSS__URL{
//   display: flex;
//   justify-content: space-around;
//   text-align: center;
//   a{
//     text-decoration: none;
//     color: $color2;
//   }
// }

.redesSociales{
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.endfooter{
  text-align: center;
  font-size: medium;
  color: $color2;
}

.navegacion, .mapa, .RRSS{
  margin-top: 20px;  
}