  .proyecto {
  background-color: $color2;
  color: $color1;
  border: 2px $color2 solid;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;  
}

.proyecto img {
  padding-top: 60px;
}